<!--Jeremy Fernandez 301076715 October 2nd, 2023-->

<footer>
    <nav class="navbar sticky-bottom navbar-dark bg-dark">
        <h6 class="display-6 navbar-text">&copy;2023 Jeremy Fernandez All rights reserved</h6>
        </div>
    </nav>
</footer>