h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

p {
    text-align: center;
}

.about-me-image {
    float: left;
    margin-right: 20px;
    width: 40%;
    border: 5px solid #343a40;
    box-shadow: 0 0 10px #343a40;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}


.ms-para {
    text-align: justify;
    font-size: larger;
    text-indent: 30px;
    line-height: 1.7;
}

.ab-image-text {
    text-align: justify;
    font-size: 28px;
    line-height: 1.7;
    text-indent: 30px;
    margin-left: 70px;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(0px) scale(1);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(0px) scale(1);
    }
}

.album {
    animation: fade-up 1s 2.5s backwards;
}

.main-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: fade-down 0.5s 0.4s backwards;
}

.carousel-caption {
    text-shadow: 2px 2px #000000;
    font-size: 20px;
}

.img1 {
    filter: blur(1px);
}

.img2 {
    filter: blur(2px);
}

.img3 {
    filter: blur(2px);
}

.slide-heading {
    font-size: 30px;
}

.contact-button {
    animation: fade-up 1s 2.5s backwards;
}

.navbar-brand {
    text-align: center;
    color: black;
    animation: fade-up 1s 0.4s backwards;
}

.jumbotron {
    animation: fade-down 0.5s 1.5s backwards;
}

ul.navbar-max {
    list-style: none;
    /* Remove the bullet */
    display: inline;
    /* Display the list items inline */
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    animation: fade-up 1s 0.4s backwards;
}

ul.navbar-max li {
    display: inline-block;
    /* Make the list items display inline */
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
}

footer .navbar-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 0;
}