<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
        <!--Jeremy Fernandez 301076715 October 2nd, 2023-->
        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">About Me!</h1>
                <h3>Who am I?</h3>
                <br>
                <img src="img/me.jpg" alt="An image of me!" class="about-me-image">
                <h5 class="ab-image-text">I am Jeremy Fernandez. I am currently a software engineering student at
                    Centennial
                    College.
                    I'm an ambitious software engineering enthusiast based in the vibrant city of Toronto. With a
                    fervent love for coding and a deep-seated passion for gaming, I find myself at the intersection
                    of
                    creativity and technology. The digital realm is my canvas, where lines of code become the
                    brushstrokes that bring ideas to life. Outside the realm of algorithms and syntax, my
                    fascination
                    with the cosmos knows no bounds. Engaging in lengthy, animated discussions about the mysteries
                    of
                    space is a pastime I relish, demonstrating my insatiable curiosity and thirst for
                    knowledge.
                </h5>
                <br>
                <h2>My Resume</h2>
                <div class="resume-container">
                    <iframe src="https://drive.google.com/file/d/1qH_ErLoe4rVPVV8ui1DalYg0-6IasIQ_/preview" width="60%"
                        height="75%" allow="autoplay">
                    </iframe>
                </div>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>