<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
        <!--Jeremy Fernandez 301076715 October 2nd, 2023-->
        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Have a Project or Inquiry in Mind?</h1>
                <h3>Contact Me!</h3>
                <br>
                <div class="ContactCard">
                    <h1 class="display-4">My Information</h2>
                        <h3>Name: Jeremy Fernandez</h3>
                        <h3>Program: Software Engineering Technician</h3>
                        <h3><a href="mailto:jeremy.fernandez998@gmail.com">Click here to Email Me!</a></h3>
                        <h3>Toronto, Ontario</h3>
                        <a href="https://github.com/GhostDevelopment69" target="_blank" role="button"
                            class="btn btn-outline-primary my-2">Github</a>
                        <a href="https://www.linkedin.com/in/jeremy-fernandez-65a9021a1/" target="_blank" role="button"
                            class="btn btn-outline-primary my-2">LinkedIn</a>
                </div>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>