<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>


        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to my Portfolio!</h1>
                <p>Follow the various buttons in the navigation bar to learn more about me and my projects!</p>
            </div>
        </main>
        <!--bottom nav-->


        <!--script section-->
        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>