<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--Jeremy Fernandez 301076715 October 2nd, 2023-->
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to my Portfolio!</h1>
                <h3>My Mission</h3>
                <br>
                <h4><i>"Talk is cheap. Show me the code."</i></h4>
                <br>
                <h5>-Linus Torvalds</h5>
                <p class="ms-para">As a dedicated software engineering student based in Toronto, I am on a continuous
                    journey to master
                    the art of coding.
                    I am driven by a dual passion for both gaming and the vast wonders of space, which fuels my
                    creativity and problem-solving skills.
                    With each line of code I write, I strive to create elegant and efficient solutions that not only
                    meet the needs of the present but also anticipate the demands of the future.
                </p>
                <p class="ms-para">
                    In my spare time, I immerse myself in the intricacies of video games, dissecting their mechanics and
                    design to understand what makes them truly captivating.
                    Simultaneously, I eagerly engage in discussions about the mysteries of the cosmos, feeding my
                    curiosity about the universe's boundless frontiers.
                    These diverse interests have taught me the value of both discipline and imagination, shaping my
                    approach to software engineering.
                    My mission is not just to excel academically but also to build a portfolio of projects that reflect
                    my passion, skills, and the limitless possibilities of technology.
                    Ultimately, I aim to channel this expertise into realizing my dream of founding a successful company
                    and achieving financial prosperity, all while staying true to my love for coding and exploration.
                </p>
                <h2>Want to learn more about me?</h2>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-outline-primary" href="about" role="button">Click Here!</a>
                </div>
            </div>
        </main>
        <!--bottom nav-->


        <!--script section-->
        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>