<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Projects That I Have Worked On!</h1>
                <h1 class="jumbotron-heading"></h1>
                <p class="lead text-muted">All of what you see here before you are just some examples of my work. More
                    can be found over on my Github page.</p>
                <p>
                    <a href="https://github.com/GhostDevelopment69" target="_blank" class="btn btn-primary my-2">Click
                        here to go to my Github</a>
                </p>
            </div>
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="wadport.png" alt="Work in progress updated portfolio">
                                <div class="card-body">
                                    <p class="card-text">This portfolio page is currently a work in progress. It is my
                                        crown jewel of my knowledge that I have obtained in semester 3. It is built
                                        solely on Express JS and hosted on a local Node server. My goal for this project
                                        is to be continuously updated from now into the future and it will go through
                                        several updates/upgrades.</p>
                                </div>
                                <div class="btn-group">
                                    <a href="https://github.com/GhostDevelopment69/Express-Portfolio" target="_blank"
                                        type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="sem1port.png" alt="Semester 1 Portfolio in basic HTML">
                                <div class="card-body">
                                    <p class="card-text">When I first started to learn about HTML and CSS, we got this
                                        project as our first assignment. My professor at the time tasked us to update
                                        the page with links to the assignments after this one. You can see the buttons
                                        on the top of the page leading to the other assignments.</p>
                                </div>
                                <div class="btn-group">
                                    <a href="https://github.com/GhostDevelopment69/Sem1PortfolioPage" target="_blank"
                                        type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="sem1realestate.png" alt="Basic HTML Real Estate Website">
                                <div class="card-body">
                                    <p class="card-text">This project was the final assignment of the website
                                        development class of semester 1. We had to assume we were developing a website
                                        for a trusted real estate business so it needed a lot of requirements. Both this
                                        project the semester 1 portfolio project could have been better if we learned
                                        CSS and Javascript early in the course.</p>
                                </div>
                                <div class="btn-group">
                                    <a href="https://github.com/GhostDevelopment69/REHTMLProject" target="_blank"
                                        type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>